<h1>Stupid Coaching</h1>

<div id="question">
  <p><%= params[:question] %></p>
  <h4> - You</h4>
</div>

<div id="answer">
  <p><%= @answer %></p>
  <h4> - Your coach</h4>
</div>

<%= link_to "Ask a new question", ask_path %>




